{% extends 'back/base.html.twig' %}

{% block title %}Liste des écrans créé{% endblock %}

{% block body %}
    <h1  class="h3 mb-0 text-gray-800">Liste des écrans créé</h1>
</div>
    <a href="{{ path('screen_param_select') }}"class="btn btn-success btn-icon-split mb-4">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Nouvelle écran</span>
    </a>
   <div class="card shadow mb-4">
                   
        <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Nom</th>
                <th>Type d'écran</th>
                <th>Date de démarrage</th>
                <th>Date de fin</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for screen_content in screen_contents %}
            <tr>
                <td>{{ screen_content.id }}</td>
                <td>{{ screen_content.title }}</td>
                <td>{{ screen_content.screenParam.name }}</td>
                <td>
                    {% if screen_content.start == true %}
                        {{ screen_content.start ? screen_content.start|date('d/m/Y') : ''  }}
                    {% else %}
                        Illimité
                    {% endif %}    
                </td>
                <td>
                    {% if screen_content.end == true %}
                        {{ screen_content.end ? screen_content.end|date('d/m/Y') : ''}}
                    {% else %}
                        Illimité
                    {% endif %}    
                </td>
                <td>{{ screen_content.activ }}</td>
                <td>
                    <a href="{{ path('app_back_screen_content_show', {'id': screen_content.id}) }}"class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="text">Afficher</span>
                                    </a>
                    <a href="{{ path('app_back_screen_content_edit', {'id': screen_content.id}) }}"class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                           <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Editer</span>
                                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
